@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

@layer components {
    .btn {
        @apply bg-[#12b448] text-white px-4 py-2 rounded-md text-sm text-white;
    }
    .card {
        @apply p-3 bg-white rounded-md shadow-md h-full;
    }
}
